<div style="border-style: hidden;" class="ui horizontal segments">
    <div class="ui segment">
        <button id="addselected" class="fluid positive ui button"
            onclick="addselected()">Add Selected</button>
    </div>
    <div style="border-style: hidden;" onclick="ciao()" class="ui segment">
        <button id="idk" class="fluid primary ui button">I don't know</button>
    </div>
    <div style="border-style: hidden;" class="ui segment">
        <button id="none" class="fluid negative ui button">None of these</button>
    </div>
</div>