<div style="margin-bottom: 40px;" class="ui fluid container">
    <div class="ui top attached segment">
        <!-- <img class="ui avatar image" src="/css/unknown.jpg"> -->
        <span>{{personName}}</span>
    </div>
    <div class="ui attached header">
        <p>Titles</p>
    </div>
    <div class="ui attached segment">
        <div class="ui bulleted list">
            {{#title}}
                <div class="item">{{.}}</div>
            {{/title}}
        </div>
    </div>
    <div class="ui attached header">
        <p>Role</p>
    </div>
    <div class="ui bottom attached segment">
        <div class="ui bulleted list">
            {{#personRole}}
                <div class="item">{{.}}</div>
            {{/personRole}}
        </div>
    </div>
</div>
