<div class="ui grid cards">
    {{#options}}
        <div class="eight wide column">
            <div data-item="{{item}}" class="ui card fluid">
                <div class="content">
                    <div class="header">{{label}}</div>
                    <div class="meta">
                        <span class="category">{{typeLabel}}</span>
                    </div>
                    <div class="description">
                        <p>{{description}}</p>
                    </div>
                </div>
                <div class="extra content">
                    <span class="left floated">
                        Wikidata
                    </span>
                    <div class="right floated author">
                        <img class="ui avatar image" src="{{immagine}}">
                    </div>
                </div>
                <div class="extra content">
                    <div class="ui two buttons">
                        <button onclick="match_author(this)" class="ui button">Match me</button>
                        <div class="or"></div>
                        <button onclick="select_author(this)" class="ui positive button">Select me</button>
                    </div>
                </div>
            </div>
        </div>
    {{/options}}
</div>