<div class="ui two column grid">
    {{#options}}
    <div class="column">
        <div data-item="{{item}}" class="ui raised segment">
            <div style="text-align: center; font-size: 20px; font-weight: bold; margin: 20px 0;">
                <div style="margin-bottom: 5px;">{{nome}}</div>
                <div style="font-size: 16px; color: #aaa;">{{tipologia}}</div>
            </div>
            <a class="ui red ribbon label">Candidato</a>
            <div class="ui items">
                <div class="item">
                    <div class="ui small image">
                        <div style="width: 100px; height: 100px; border-radius: 100%; background-image: url({{#immagine}}{{.}}{{/immagine}}); background-size: cover; margin: 0 auto; background-color: #ccc; text-align: center; line-height: 100px; font-size: 40px;">
                            {{^immagine}}<i class="fas fa-user"></i>{{/immagine}}
                        </div>
                    </div>
                    <div class="middle aligned content">
                        {{#descrizione}}<p>{{.}}</p>{{/descrizione}}
                        {{#birthDate}}<p><b>Data di nascita:</b> {{.}}</p>{{/birthDate}}
                        {{#deathDate}}<p><b>Data di morte: </b>{{.}}</p>{{/deathDate}}
                        {{^descrizione}}
                            {{^birthDate}}
                                {{^deathDate}}
                                    <i>Non sono presenti informazioni aggiuntive riguardo questo elemento</i>
                                {{/deathDate}}
                            {{/birthDate}}
                        {{/descrizione}}
                    </div>
                </div>
            </div>
            <a class="ui red ribbon label">Esplora in...</a>
            <div style="margin: 20px 0" class="center aligned">
                {{#wikidata}}<a class="ui center aligned blue label" href="{{.}}" target="_blank">Wikidata</a>{{/wikidata}}
                {{#itwikipedia}}<a class="ui center aligned blue label" href="{{.}}" target="_blank">Wikipedia</a>{{/itwikipedia}}
                {{#viafurl}}<a class="ui center aligned blue label" href="{{.}}" target="_blank">VIAF</a>{{/viafurl}}
                {{#treccani}}<a class="ui center aligned blue label" href="http://www.treccani.it/enciclopedia/{{.}}" target="_blank">Treccani</a>{{/treccani}}
                {{#sbn}}<a class="ui center aligned blue label" href="http://id.sbn.it/af/{{.}}" target="_blank">SBN</a>{{/sbn}}
            </div>
            <div class="ui divider"></div>
            <button onclick="select_author(this)" class="ui fluid green button">Select me</button>
        </div>
    </div>
    {{/options}}
</div>