 <div class="ui segment">
    <div style="height:120px; max-height: 100px" class="ui grid">
        <div class="four wide
            column" data-time="{{{oldcolonna}}}{{{attributo}}}">
            <form class="ui small form"><label>{{oldvalue}}</label></form>
        </div>
        <div id="attribute" class="three wide
            column" data-time="{{{colonna}}}{{{attributo}}}">
            <form class="ui small form"><label>{{attributo}}</label></form>
        </div>
        <div class="four wide
            column" data-time="{{{newcolonna}}}{{{attributo}}}">
            <form class="ui small form">
                <input type="text" id="{{{attributo}}}new"
                    value="{{{newvalue}}}">
            </form>
        </div>
        <div id="attribute" class="one small column">
        </div>
        <div class="four wide column">
            <select class ="ui selection dropdown"id="colonnefonti{{x}}">
            </select>
        </div>
    </div>
</div>