<div class="ui vertical footer segment">
  <div class="ui container">
    <div class="ui stackable inverted divided equal height stackable grid">
      <div class="three wide column">
        <h4 class="ui inverted header">OLAF</h4>
        <div class="ui inverted link list">
          <a href="/info" class="item">Info</a>
          <a href="/how-to" class="item">How To</a>
          <a href="/privacy-policy" class="item">Privacy Policy</a>
        </div>
      </div>
      <div class="three wide column">
        <h4 class="ui inverted header">Servizi</h4>
        <div class="ui inverted link list">
          <a href="/login" class="item">Login/Registrazione</a>
          <a href="/new-job" class="item">Nuovo Job</a>
        </div>
      </div>
      <div class="seven wide column">
        <h4 class="ui inverted header"><i class="github icon"></i></h4>
        <p>
          OLAF è un progetto open-source. Dai un'occhiata al repository a 
          <a class="secondary-color" href="https://github.com/synapta/olaf" target="_blank" rel="noopener noreferrer">questo link</a>
        </p>
        <p>
          {{currentYear}} - <a class="secondary-color" href="https://synapta.it" target="_blank" rel="noopener noreferrer">Synapta Srl</a>
        </p>
      </div>
    </div>
  </div>
</div>