<div style="min-width: 900px" class="ui horizontal elements">
    <div class="ui segment">
        <div class="ui horizontal elements">
            <div class="ui element">
                <div class = "ui horizontal segments"id="attribute1"></div>
            </div>
            <div class="ui element">
                <div class = "ui horizontal segments"id="attribute2"></div>
            </div>
            <div class="ui element">
                <div class = "ui horizontal segments"id="attribute3"></div>
            </div>
            <div class="ui element">
                <div class = "ui horizontal segments"id="attribute4"></div>
            </div>
            <div class="ui element">
                <div class = "ui horizontal segments"id="attribute5"></div>
            </div>
            <div class="ui element">
                <div id="attribute6"></div>
            </div>
            <div class="ui element">
                <div id="attribute7"></div>
            </div>
            <div class="ui element">
                <div id="attribute8"></div>
            </div>
            <div class="ui element">
                <div id="attribute9"></div>
            </div>
            <div class="ui element">
                <div id="attribute10"></div>
            </div>
            <div class="ui element">
                <div id="attribute11"></div>
            </div>
            <div class="ui element">
                <div id="attribute12"></div>
            </div>
            <div class="ui element">
                <div id="attribute13"></div>
            </div>
            <div class="ui element">
                <div id="attribute14"></div>
            </div>
            <div class="ui element">
                <div id="attribute15"></div>
            </div>
            <div class="ui element">
                <div id="attribute16"></div>
            </div>
            <div class="ui element">
                <div id="attribute17"></div>
            </div>
            <div class="ui element">
                <div id="attribute18"></div>
            </div>
            <div class="ui element">
                <div id="attribute19"></div>
            </div>
            <div class="ui element">
                <div id="attribute20"></div>
            </div>
        </div>
        <div style="border-style: hidden;" class="ui horizontal segments">
            <div class="ui segment">
                <button id="addselected" class="fluid red ui button"
                    onclick="redooptions()">Back</button>
            </div>
            <div style="border-style: hidden;" class="ui
                segment">
                <button id="idk" class="fluid green ui button" onclick="sendnew()">Send</button>
            </div>
        </div>
    </div>