<h1 class="ui dividing header" style="margin-bottom: 3rem;">Progetti Attivi</h1>

<div class="ui three doubling stackable cards" >
  {{#jobs}}
  <div class="card">
    <div class="content">
      <div class="header">{{name}}</div>
      <div class="meta">
        {{job_type}}
      </div>
      <div class="description">
        {{description}}
      </div>
    </div>
    <div class="extra content">
      <span class="right floated">
        <a href="/job/{{alias}}">
          VEDI
          <i class="arrow right icon"></i>
        </a>
      </span>
    </div>
  </div>
  {{/jobs}}
</div>

{{^jobs}}
<div style="margin-top: 1rem;">
  <p>Nessun progetto ancora. <a href="/new-job">Creane uno subito!</a></p>
</div>
{{/jobs}}