{{#fields}}
<div class="ui raised segment">
    <div class="ui bottom left attached label">{{label}}</div>
    <div>
        <div class="ui fluid input">
            <input type="text" name="{{label}}" placeholder="{{label}}" value="{{value}}" />
        </div>
    </div>
</div>
{{/fields}}
<div class="ui icon message">
    <i style="font-size: 45px; margin-right: 15px;" class="fas fa-arrow-left"></i>
    <div class="content">
        <div class="header">
            Invia i dati
        </div>
        <p>Conferma l'importazione dei dati selezionati e rendi effettive le modifiche al catalogo.</p>
    </div>
</div>