{{#fields}}
<div class="ui raised segment">
    <div class="ui bottom left attached label">{{label}}</div>
    <div>
        {{#values}}
        <div style="margin-bottom: 10px;" class="ui fluid input">
            <input type="text" name="{{label}}" placeholder="{{label}}" value="{{.}}" />
        </div>
        {{/values}}
    </div>
</div>
{{/fields}}
<div class="ui icon message">
    <i class="fas fa-arrow-left"></i>
    <div class="content">
        <div class="header">
            Invia i dati
        </div>
        <p>Conferma l'importazione dei dati selezionati e rendi effettive le modifiche al catalogo.</p>
    </div>
</div>