<!--Start: Nav  -->
<div class="ui fixed borderless huge menu">

  <div class="ui container grid">

    <!--Start: Desktop Nav-->
    <div class="computer only row">

      <a class="header item" href="/">
        <!-- <i class="book icon"></i> -->
        <img class="navbar-logo" src="/img/logo_white.png" alt="OLAF Logo">
        OLAF</a>

      <a class="item" href="/info">Info</a>
      <a class="item" href="/how-to">How To</a>

      <div class="right menu">

        {{#logged}}
        <a class="ui dropdown item">

          {{#admin}}
          <i class="superpowers icon" data-tooltip="ADMIN" data-position="bottom-left"></i>
          {{/admin}}
          
          {{name}}

          <i class="dropdown icon"></i>

          <div class="menu">
            <div class="item profile-button">
              <i class="user outline icon"></i>
              profilo
            </div>
            <div class="item logout-button">
              <i class="sign-out icon"></i>
              esci
            </div>
          </div>
        </a>
        {{/logged}}
        {{^logged}}
        <a class="item login-btn" href="/login">
          ENTRA
        </a>
        {{/logged}}

      </div>
    </div>
    <!--End: Desktop Nav-->

    <!--Start: Mobile Nav-->
    <div class="tablet mobile only row">
      <a class="header item" href="/"> OLAF </a>
      <div class="right menu">
        <a class="menu item">
          <div class="ui basic icon toggle button">
            <i class="content icon"></i>
          </div>
        </a>
      </div>

      <div class="ui vertical accordion borderless fluid menu">

        <a class="item" href="/info"> Info</a>
        <a class="item" href="/how-to"> How To</a>

        <div class="ui divider"></div>

        {{#logged}}
        <span class="item active">{{name}}</span>
        <a class="item profile-button">
          <i class="user outline icon"></i>
          profilo
        </a>
        <a class="item logout-button">
          <i class="sign-out icon"></i>
          esci
        </a>
        {{/logged}}

        {{^logged}}
        <a class="active item" href="/login">ENTRA</a>
        {{/logged}}

        
        
      </div>
    </div>
    <!--End: Mobile Nav-->
  </div>
</div>