<!--<div class="ui horizontal elements">
    <div class="ui horizontal elements">
        <div class="ui element">
            <div class="ui horizontal segments">
                <div class="ui segment" style="max-width:200px">
                    <img class="ui tiny circular image" src="{{& immagine}}">
                    <a href="{{& type}}" target="_blank">{{typeLabel}}</a>
                    <p>{{birthDate}}</p>
                    <p>{{deathDate}}</p>
                    <div onclick="unclickable(this)" class="ui vertical
                        accordion menu">
                        <div class="item">
                            <a class="active title">
                                labels
                                <i class="dropdown icon"></i>
                            </a>
                            <div class="content">
                                <div class="ui list">
                                    {{#opere}}
                                    <li>{{.}}</li>
                                    {{/opere}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ui segment"
                    style="text-align:center;max-width:200px">
                    <h3><p>{{label}}</p></h3>
                    <h4>{{description}}</h4>
                    <big><p>{{header_main_residence}}</big> {{main_residence}}</p>
                    <big><p>{{header_professions}}</p></big>
                    <p>{{#professions}}{{.}}<br>{{/professions}}</p>
                    <big>{{header_studies}}</big><p>{{#studies}}{{.}}<br>{{/studies}}</p>
                    <big>{{header_links}}</big>
                    <list class="ui list">
                        {{#item}}<li><a href="{{& .}}" target="_blank">{{.}}</a></li>{{/item}}
                        {{#itwikipedia}}<li><a href="{{& .}}" target="_blank">{{.}}</a></li>{{/itwikipedia}}
                        {{#enwikipedia}}<li><a href="{{& .}}" target="_blank">{{.}}</a></li>{{/enwikipedia}}
                    </list>
                    <button onclick="addme(this)" class="fluid green ui button">Add
                        Me!</button>
                </div>
            </div>
        </div>
    </div>
</div>-->

<div class="ui link card">
    <div class="content">
        <div class="header">Cute Dog</div>
        <div class="meta">
            <span class="category">Animals</span>
        </div>
        <div class="description">
            <p></p>
        </div>
    </div>
    <div class="extra content">
        <div class="right floated author">
            <img class="ui avatar image" src="/images/avatar/small/matt.jpg"> Matt
        </div>
    </div>
</div>