<div class="column">
    <div class="ui raised segment">
        <div id="author-fields">

            <a class="ui blue ribbon label"> <i class="fas fa-user"></i> Autore</a>

            <p class="author-name">
                <a target="_blank" href="{{uri}}">
                    <i id="author-link" class="fas fa-external-link-alt"></i> {{rawName}}
                </a>
            </p>

            {{#instruments.length}}
                <a href="{{uri}}" target="_blank" class="ui blue ribbon label"> <i class="fas fa-book"></i> Strumenti suonati</a>
                <ul class="ui bulleted list">
                    {{#instruments}}
                    <li>
                        <div class="item title">{{.}}</div>
                    </li>
                    {{/instruments}}
                </ul>
            {{/instruments.length}}

            {{#musicGenres.length}}
                <a href="{{uri}}" target="_blank" class="ui blue ribbon label"> <i class="fas fa-book"></i> Generi caratteristici</a>
                <ul class="ui bulleted list">
                    {{#musicGenres}}
                    <li>
                        <div class="item title">{{.}}</div>
                    </li>
                    {{/musicGenres}}
                </ul>
            {{/musicGenres.length}}

            {{#exhibitions.length}}
                <a href="{{uri}}" target="_blank" class="ui blue ribbon label"> <i class="fas fa-book"></i> Esibizioni</a>
                <ul class="ui bulleted list">
                    {{#exhibitions}}
                    <li>
                        <div class="item title">{{.}}</div>
                    </li>
                    {{/exhibitions}}
                </ul>
            {{/exhibitions.length}}

            {{#titles.length}}
                <a href="{{uri}}" target="_blank" class="ui blue ribbon label"> <i class="fas fa-book"></i> Opere ({{titles.length}}) - Visualizza tutte</a>
                <ul class="ui bulleted list card-box">
                    {{#titles}}
                    <li>
                        <div class="item title">{{.}}</div>
                    </li>
                    {{/titles}}
                </ul>
            {{/titles.length}}

        </div>

    </div>
</div>