.masthead.segment {
  min-height: 600px;
  padding: 1em 0em;
}

body.not-logged .masthead.segment {
  min-height: 800px;
  padding: 1em 0em;
}

.masthead .logo.item img {
  margin-right: 1em;
}

.masthead .ui.menu .ui.button {
  margin-left: 0.5em;
}

.masthead h1.ui.header {
  margin-top: 3em;
  margin-bottom: 0em;
  font-size: 4em;
  font-weight: normal;
}

.masthead h2 {
  font-size: 1.7em;
  font-weight: normal;
}

.masthead .cta-btn > span {
  margin-right: 5px;
}

#jobs {
  margin-bottom: 3rem;
}