<div class="column">
    <div class="ui raised segment">
        <a class="ui blue ribbon label"> <i class="fas fa-user"></i> Autore</a>
        <p class="author-name">
            <a target="_blank" href="{{authorUri}}">
                <i id="author-link" class="fas fa-external-link-alt"></i> {{authorName.nameFull}}
            </a>
        </p>
        {{#authorTitles}}
        <a href="{{authorUri}}" target="_blank" class="ui blue ribbon label"> <i class="fas fa-book"></i> Opere ({{titlesNumber}}) - Visualizza tutte</a>
        <ul class="ui bulleted list card-box">
            {{#titlesItem}}
            <li>
                <div class="item title">{{.}}</div>
            </li>
            {{/titlesItem}}
        </ul>
        {{/authorTitles}}
        {{#authorRoles}}
        <a class="ui blue ribbon label"> <i class="fas fa-briefcase"></i> Ruoli</a>
        <div class="ui bulleted list card-box">
            {{#rolesItem}}
            <div class="item">{{.}}</div>
            {{/rolesItem}}
        </div>
        {{/authorRoles}}
        <div class="ui divider"></div>
        <div class="card-box">
            <div id="send-button">
                <div class="fluid ui labeled button" tabindex="0">
                    <button id="selected-options-send" onclick="authorMatch()" class="fluid ui button disabled">
                        Associa autori selezionati
                    </button>
                    <a id="selected-options-counter" class="ui basic label">
                        0
                    </a>
                </div>
            </div>
            <div onclick="authorSkip('{{authorUri}}')" data-identifier="{{authorUri}}" class="fluid ui button">Salta autore</div>
        </div>
    </div>
</div>