{{#options}}
    <div class="ui raised segment">
        <div class="ui items">
            <div class="item">
                <div class="ui small image">
                    <div class="author-image" style="background-image: url({{#optionImage}}{{.}}{{/optionImage}});">
                        {{^optionImage}}<i class="fas fa-user"></i>{{/optionImage}}
                    </div>
                </div>
                <div class="middle aligned content">
                    <div class="author-name">
                        <div class="author-title">{{optionName}}</div>
                        <div class="author-subtitle">{{optionType}}</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ui divider"></div>
        {{#optionWikidata}}
            <div class="add_match">
                <div data-label="optionWikidata" data-value="{{.}}" onclick="matchField('optionWikidata', '{{.}}')" class="ui compact green icon button field_selection">
                    <i class="fas fa-check"></i>
                </div>
                <span><b>Wikidata:</b> {{.}}</span>
            </div>
        {{/optionWikidata}}
        {{#optionViaf}}
            <div class="add_match">
                <div data-label="optionViaf" data-value="{{.}}" onclick="matchField('optionViaf', '{{.}}')" class="ui compact green icon button field_selection">
                    <i class="fas fa-check"></i>
                </div>
                <span><b>VIAF:</b> {{.}}</span>
            </div>
        {{/optionViaf}}
        {{#optionSbn}}
            <div class="add_match">
                <div data-label="optionSbn" data-value="{{.}}" onclick="matchField('optionSbn', '{{.}}')" class="ui compact green icon button field_selection">
                    <i class="fas fa-check"></i>
                </div>
                <span><b>SBN:</b> {{.}}</span>
            </div>
        {{/optionSbn}}
    </div>
{{/options}}