{{#options}}
    <div class="ui raised segment">

        <div class="ui items">
            <div class="item">
                <div class="ui small image">
                    <div class="author-image" style="background-image: url({{#image}}{{.}}{{/image}});">
                        {{^image}}<i class="fas fa-user"></i>{{/image}}
                    </div>
                </div>
                <div class="middle aligned content">
                    <div class="author-name">
                        <div class="author-title">{{name}}</div>
                        <div class="author-subtitle">{{type}}</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ui divider"></div>

        {{#wikidata.length}}
            <p class="card-box"><b>Wikidata</b></p>
            {{#wikidata}}
                <div class="add_match">
                    <div data-label="wikidata" data-value="{{.}}" onclick="matchField('wikidata', '{{.}}')" class="ui compact green icon button field_selection">
                        <i class="fas fa-check"></i>
                    </div>
                    <span>{{.}}</span>
                </div>
            {{/wikidata}}
        {{/wikidata.length}}

        {{#viaf.length}}
            <p class="card-box"><b>VIAF</b></p>
            {{#viaf}}
                <div class="add_match">
                    <div data-label="viaf" data-value="{{.}}" onclick="matchField('viaf', '{{.}}')" class="ui compact green icon button field_selection">
                        <i class="fas fa-check"></i>
                    </div>
                    <span>{{.}}</span>
                </div>
            {{/viaf}}
        {{/viaf.length}}

        {{#sbn.length}}
            <p class="card-box"><b>SBN</b></p>
            {{#sbn}}
                <div class="add_match">
                    <div data-label="sbn" data-value="{{.}}" onclick="matchField('sbn', '{{.}}')" class="ui compact green icon button field_selection">
                        <i class="fas fa-check"></i>
                    </div>
                    <span>{{.}}</span>
                </div>
            {{/sbn}}
        {{/sbn.length}}

        {{#name.length}}
            <p class="card-box"><b>Nome</b></p>
            {{#name}}
                <div class="add_match">
                    <div data-label="name" data-value="{{.}}" onclick="matchField('name', '{{.}}')" class="ui compact green icon button field_selection">
                        <i class="fas fa-check"></i>
                    </div>
                    <span>{{.}}</span>
                </div>
            {{/name}}
        {{/name.length}}

        {{#type.length}}
            <p class="card-box"><b>Tipo</b></p>
            {{#type}}
                <div class="add_match">
                    <div data-label="type" data-value="{{.}}" onclick="matchField('type', '{{.}}')" class="ui compact green icon button field_selection">
                        <i class="fas fa-check"></i>
                    </div>
                    <span>{{.}}</span>
                </div>
            {{/type}}
        {{/type.length}}

        {{#gender.length}}
            <p class="card-box"><b>Genere</b></p>
            {{#gender}}
                <div class="add_match">
                    <div data-label="gender" data-value="{{.}}" onclick="matchField('gender', '{{.}}')" class="ui compact green icon button field_selection">
                        <i class="fas fa-check"></i>
                    </div>
                    <span>{{.}}</span>
                </div>
            {{/gender}}
        {{/gender.length}}

        {{#description.length}}
            <p class="card-box"><b>Titolo</b></p>
            {{#description}}
                <div class="add_match">
                    <div data-label="description" data-value="{{.}}" onclick="matchField('description', '{{.}}')" class="ui compact green icon button field_selection">
                        <i class="fas fa-check"></i>
                    </div>
                    <span>{{.}}</span>
                </div>
            {{/description}}
        {{/description.length}}

        {{#birthPlace.length}}
            <p class="card-box"><b>Luogo di nascita</b></p>
            {{#birthPlace}}
                <div class="add_match">
                    <div data-label="birthPlace" data-value="{{.}}" onclick="matchField('birthPlace', '{{.}}')" class="ui compact green icon button field_selection">
                        <i class="fas fa-check"></i>
                    </div>
                    <span>{{.}}</span>
                </div>
            {{/birthPlace}}
        {{/birthPlace.length}}

        {{#birthDate.length}}
            <p class="card-box"><b>Data di nascita</b></p>
            {{#birthDate}}
                <div class="add_match">
                    <div data-label="birthDate" data-value="{{.}}" onclick="matchField('birthDate', '{{.}}')" class="ui compact green icon button field_selection">
                        <i class="fas fa-check"></i>
                    </div>
                    <span>{{.}}</span>
                </div>
            {{/birthDate}}
        {{/birthDate.length}}

        {{#deathPlace.length}}
            <p class="card-box"><b>Luogo di morte</b></p>
            {{#deathPlace}}
                <div class="add_match">
                    <div data-label="deathPlace" data-value="{{.}}" onclick="matchField('deathPlace', '{{.}}')" class="ui compact green icon button field_selection">
                        <i class="fas fa-check"></i>
                    </div>
                    <span>{{.}}</span>
                </div>
            {{/deathPlace}}
        {{/deathPlace.length}}

        {{#deathDate.length}}
            <p class="card-box"><b>Data di morte</b></p>
            {{#deathDate}}
                <div class="add_match">
                    <div data-label="deathDate" data-value="{{.}}" onclick="matchField('deathDate', '{{.}}')" class="ui compact green icon button field_selection">
                        <i class="fas fa-check"></i>
                    </div>
                    <span>{{.}}</span>
                </div>
            {{/deathDate}}
        {{/deathDate.length}}

    </div>
{{/options}}