{{#options}}
    <div class="ui raised segment">

        <div class="ui items">
            <div class="item">
                <div class="ui small image">
                    <div class="author-image" style="background-image: url({{#optionImage}}{{.}}{{/optionImage}});">
                        {{^optionImage}}<i class="fas fa-user"></i>{{/optionImage}}
                    </div>
                </div>
                <div class="middle aligned content">
                    <div class="author-name">
                        <div class="author-title">{{optionName}}</div>
                        <div class="author-subtitle">{{optionType}}</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ui divider"></div>

        {{#optionWikidata.length}}
            <p class="card-box"><b>Wikidata</b></p>
            {{#optionWikidata}}
                <div class="add_match">
                    <div data-label="optionWikidata" data-value="{{.}}" onclick="matchField('optionWikidata', '{{.}}')" class="ui compact green icon button field_selection">
                        <i class="fas fa-check"></i>
                    </div>
                    <span>{{.}}</span>
                </div>
            {{/optionWikidata}}
        {{/optionWikidata.length}}

        {{#optionViaf.length}}
            <p class="card-box"><b>VIAF</b></p>
            {{#optionViaf}}
                <div class="add_match">
                    <div data-label="optionViaf" data-value="{{.}}" onclick="matchField('optionViaf', '{{.}}')" class="ui compact green icon button field_selection">
                        <i class="fas fa-check"></i>
                    </div>
                    <span>{{.}}</span>
                </div>
            {{/optionViaf}}
        {{/optionViaf.length}}

        {{#optionSbn.length}}
            <p class="card-box"><b>SBN</b></p>
            {{#optionSbn}}
                <div class="add_match">
                    <div data-label="optionSbn" data-value="{{.}}" onclick="matchField('optionSbn', '{{.}}')" class="ui compact green icon button field_selection">
                        <i class="fas fa-check"></i>
                    </div>
                    <span>{{.}}</span>
                </div>
            {{/optionSbn}}
        {{/optionSbn.length}}

        {{#optionName.length}}
            <p class="card-box"><b>Nome</b></p>
            {{#optionName}}
                <div class="add_match">
                    <div data-label="optionName" data-value="{{.}}" onclick="matchField('optionName', '{{.}}')" class="ui compact green icon button field_selection">
                        <i class="fas fa-check"></i>
                    </div>
                    <span>{{.}}</span>
                </div>
            {{/optionName}}
        {{/optionName.length}}

        {{#optionType.length}}
            <p class="card-box"><b>Tipo</b></p>
            {{#optionType}}
                <div class="add_match">
                    <div data-label="optionType" data-value="{{.}}" onclick="matchField('optionType', '{{.}}')" class="ui compact green icon button field_selection">
                        <i class="fas fa-check"></i>
                    </div>
                    <span>{{.}}</span>
                </div>
            {{/optionType}}
        {{/optionType.length}}

        {{#optionGender.length}}
            <p class="card-box"><b>Genere</b></p>
            {{#optionGender}}
                <div class="add_match">
                    <div data-label="optionGender" data-value="{{.}}" onclick="matchField('optionGender', '{{.}}')" class="ui compact green icon button field_selection">
                        <i class="fas fa-check"></i>
                    </div>
                    <span>{{.}}</span>
                </div>
            {{/optionGender}}
        {{/optionGender.length}}

        {{#optionDescription.length}}
            <p class="card-box"><b>Titolo</b></p>
            {{#optionDescription}}
                <div class="add_match">
                    <div data-label="optionDescription" data-value="{{.}}" onclick="matchField('optionDescription', '{{.}}')" class="ui compact green icon button field_selection">
                        <i class="fas fa-check"></i>
                    </div>
                    <span>{{.}}</span>
                </div>
            {{/optionDescription}}
        {{/optionDescription.length}}

        {{#optionBirthPlace.length}}
            <p class="card-box"><b>Luogo di nascita</b></p>
            {{#optionBirthPlace}}
                <div class="add_match">
                    <div data-label="optionBirthPlace" data-value="{{.}}" onclick="matchField('optionBirthPlace', '{{.}}')" class="ui compact green icon button field_selection">
                        <i class="fas fa-check"></i>
                    </div>
                    <span>{{.}}</span>
                </div>
            {{/optionBirthPlace}}
        {{/optionBirthPlace.length}}

        {{#optionBirthDate.length}}
            <p class="card-box"><b>Data di nascita</b></p>
            {{#optionBirthDate}}
                <div class="add_match">
                    <div data-label="optionBirthDate" data-value="{{.}}" onclick="matchField('optionBirthDate', '{{.}}')" class="ui compact green icon button field_selection">
                        <i class="fas fa-check"></i>
                    </div>
                    <span>{{.}}</span>
                </div>
            {{/optionBirthDate}}
        {{/optionBirthDate.length}}

        {{#optionDeathPlace.length}}
            <p class="card-box"><b>Luogo di morte</b></p>
            {{#optionDeathPlace}}
                <div class="add_match">
                    <div data-label="optionDeathPlace" data-value="{{.}}" onclick="matchField('optionDeathPlace', '{{.}}')" class="ui compact green icon button field_selection">
                        <i class="fas fa-check"></i>
                    </div>
                    <span>{{.}}</span>
                </div>
            {{/optionDeathPlace}}
        {{/optionDeathPlace.length}}

        {{#optionDeathDate.length}}
            <p class="card-box"><b>Data di morte</b></p>
            {{#optionDeathDate}}
                <div class="add_match">
                    <div data-label="optionDeathDate" data-value="{{.}}" onclick="matchField('optionDeathDate', '{{.}}')" class="ui compact green icon button field_selection">
                        <i class="fas fa-check"></i>
                    </div>
                    <span>{{.}}</span>
                </div>
            {{/optionDeathDate}}
        {{/optionDeathDate.length}}

    </div>
{{/options}}