<h2 class="ui header">
  ENTITÀ
  {{#is_processed}}(<i>processato</i>){{/is_processed}}
</h2>

<div class="ui raised segment {{#is_processed}}processed-item{{/is_processed}}">

    <a class="ui blue ribbon label"><i class="tag icon"></i> Label</a>

    <p class="item-name">
      <a target="_blank" href="{{url_scheda}}">
        <i class="fas fa-external-link-alt"></i> {{titolo}}
      </a>
    </p>

    {{#url_immagine}}
    <a href="{{url_immagine}}" target="_blank">
      <div style="background-image: url({{url_immagine}});" class="author-image"></div>
    </a>
    {{/url_immagine}}


    <a class="ui blue ribbon label"><i class="paragraph icon"></i> Descrizione</a>
    <div class="card-box">
      {{descrizione}}
    </div>
    
    <a class="ui blue ribbon label"><i class="map marker alternate icon"></i> Indirizzo</a>
    <div class="card-box">
      {{descrizione}}
    </div>
</div>