<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Authors</title>
    <!-- Styles -->
    <link rel="stylesheet" type="text/css" href="/css/lib/semantic242.css"/>
    <link rel="stylesheet" type="text/css" href="/css/main.css" />
    <!-- Libraries -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/3.0.1/mustache.js"></script>
    <script src="https://kit.fontawesome.com/be7822736c.js"></script>
    <script src="/js/lib/semantic242.js"></script>
    <!-- Frontend rendering -->
    <script src="/js/utils/url.js"></script>
    <script src="/js/rendering/author.js"></script>
    <script src="/js/author.js"></script>
</head>
<body>

    <div class="ui top fixed menu navbar">
        <h3 class="ui header">
            Open Linked Authority Files
            <span style="color: #aaa;">on <span style="text-transform: uppercase" id="user-token"></span>
        </h3>
    </div>

    <div class="ui container">
        <div class="ui grid">
            <div class="four wide column">
                <div id="author-card"></div>
            </div>
            <div id="author-container" class="twelve wide column">
                <div id="author-options">

                </div>
            </div>
        </div>
    </div>

    <div class="footer-container footer-section-2">
        <div class="block-1">
            Made with love and linked data by <img id="footer-synapta-logo" src="/img/synapta-logo-white.svg"/>
        </div>
    </div>

</body>
</html>