<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Authors</title>
    <!-- Styles -->
    <link rel="stylesheet" type="text/css" href="/css/lib/semantic242.css"/>
    <link rel="stylesheet" type="text/css" href="/css/main.css" />
    <!-- Scripts -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/3.0.1/mustache.js"></script>
    <script src="https://kit.fontawesome.com/be7822736c.js"></script>
    <script src="/js/lib/semantic242.js"></script>
    <script src="/js/utils/url.js"></script>
    <script src="/js/authors.js"></script>
</head>
<body>
    <div class="ui top fixed menu">
        <div class="item">
            <h3 class="ui header">Open Linked Authority Files</h3>
        </div>
    </div>
    <div class="ui container">
        <div class="ui grid">
            <div class="four wide column">
                <div id="author-card"></div>
            </div>
            <div id="author-container" class="twelve wide column">
                <div id="author-options">

                </div>
            </div>
        </div>
    </div>
</body>
</html>