<!DOCTYPE html>
<html lang="it">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>OLAF | Guida</title>

  <link rel="icon" sizes="64x64" type="image/png" href="/img/favicon.png" />

  <!-- Styles -->
  <link rel="stylesheet" type="text/css" href="/libs/semantic/semantic.css" />

  <link rel="stylesheet" type="text/css" href="/css/theme.css" />
  <link rel="stylesheet" type="text/css" href="/css/navbar.css" />
  <link rel="stylesheet" type="text/css" href="/css/footer.css" />

  <script type="text/javascript" src="/libs/fontawesome/all.min.js"></script>
</head>

<body>

  <nav id="navbar"></nav>

  <div class="ui container use-available-space" style="padding-top: 8rem; padding-bottom: 4rem;">
    <h1 class="ui dividing header">Guida di OLAF</h1>

    <p>Per iniziare, seleziona uno dei Progetti attivi dalla home page ed entra nella <b>pagina del Progetto</b>.</p>

    <img src="/img/howto_progetto.png" alt="Pagina del progetto" style="width: 100%;">

    <p>Qui puoi visualizzare la configurazione del Progetto (ovvero i parametri che OLAF usa per leggere e visualizzare
      il dataset sorgente). E, soprattutto, puoi vedere le <b>statistiche sullo stato di avanzamento del processo di
        entity matching</b> per quel determinato dataset sorgente. Ricorda che la barra con il progresso delle entità
      processate mostra la percentuale di entità che sono state processate finora da <b>tutti gli utenti</b> che hanno
      partecipato al Progetto.</p>

    <p>Per iniziare a contribuire, clicca su <b>Inizia il task</b> e accedi all'<b>interfaccia di entity matching</b>.
    </p>

    <img src="/img/howto_match.png" alt="Interfaccia di entity matching" style="width: 100%;">

    <p>In questa pagina puoi <b>confrontare i dati</b> provenienti dal dataset sorgente (card <b>Entità</b> a sinistra,
      in blu) con quelli che OLAF ottiene da Wikidata (card <b>Candidati</b>, in rosso a destra). Fai la tua scelta, e
      passa all'entità successiva! Potrai sempre consultare le <b>statistiche sui tuoi contributi</b> nella tua pagina
      <b>Profilo</b>.</p>

    <img src="/img/howto_profilo.png" alt="Pagina del profilo" style="width: 100%;">
  </div>

  <footer id="footer"></footer>


  <!-- Libraries -->
  <script type="text/javascript" src="/libs/jquery/jquery.min.js"></script>
  <script type="text/javascript" src="/libs/mustache/mustache.min.js"></script>
  <script type="text/javascript" src="/libs/semantic/semantic.min.js"></script>

  <script type="text/javascript" src="/js/utils/request.js"></script>
  <script type="text/javascript" src="/js/utils/dom.js"></script>
  <script type="text/javascript" src="/js/utils/User.js"></script>
  <script type="text/javascript" src="/js/utils/loader.js"></script>


</body>

</html>