<!DOCTYPE html>
<html lang="it">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>OLAF | Progetto</title>

  <link rel="icon" sizes="64x64" type="image/png" href="/img/favicon.png" />

  <!-- Styles -->
  <link rel="stylesheet" type="text/css" href="/libs/semantic/semantic.css" />

  <link rel="stylesheet" type="text/css" href="/css/theme.css" />
  <link rel="stylesheet" type="text/css" href="/css/navbar.css" />
  <link rel="stylesheet" type="text/css" href="/css/footer.css" />

  <link rel="stylesheet" type="text/css" href="/css/job.css" />

  <script type="text/javascript" src="/libs/fontawesome/all.min.js"></script>
</head>

<body>

  <nav id="navbar"></nav>

  <div class="ui container use-available-space" style="padding-top: 8rem; margin-bottom: 5rem;">

    <div class="job-placeholder">
      <div class="ui fluid placeholder">
        <div class="header">
          <div class="full line"></div>
        </div>
        <div class="header">
          <div class="full line"></div>
        </div>
        <div class="header">
          <div class="full line"></div>
        </div>
        <div class="header">
          <div class="full line"></div>
        </div>
      </div>
    </div>

    <div id="job-data"></div>
  </div>

  <footer id="footer"></footer>


  <!-- Libraries -->
  <script type="text/javascript" src="/libs/jquery/jquery.min.js"></script>
  <script type="text/javascript" src="/libs/mustache/mustache.min.js"></script>
  <script type="text/javascript" src="/libs/semantic/semantic.min.js"></script>

  <script type="text/javascript" src="/js/utils/request.js"></script>
  <script type="text/javascript" src="/js/utils/dom.js"></script>
  <script type="text/javascript" src="/js/utils/url.js"></script>
  <script type="text/javascript" src="/js/utils/format.js"></script>
  <script type="text/javascript" src="/js/utils/User.js"></script>
  <script type="text/javascript" src="/js/utils/loader.js"></script>

  <script type="text/javascript" src="/js/source-form.js"></script>
  <script type="text/javascript" src="/js/job.js"></script>

</body>

</html>