<!DOCTYPE html>
<html lang="it">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>OLAF | Match</title>

  <link rel="icon" sizes="64x64" type="image/png" href="/img/favicon.png" />

  <!-- Styles -->
  <link rel="stylesheet" type="text/css" href="/libs/semantic/semantic.css" />

  <link rel="stylesheet" type="text/css" href="/css/theme.css" />
  <link rel="stylesheet" type="text/css" href="/css/navbar.css" />
  <link rel="stylesheet" type="text/css" href="/css/footer.css" />

  <link rel="stylesheet" type="text/css" href="/css/match.css" />

  <script type="text/javascript" src="/libs/fontawesome/all.min.js"></script>
</head>

<body>

  <nav id="navbar"></nav>

  <!-- secondary navbar for match functions -->
  <div id="match-navbar">
    
    <div class="navbar-placeholder">
      <div class="ui placeholder small-button-placeholder">
        <div class="image"></div>
      </div>
    </div>
    <div class="navbar-placeholder">
      <div class="ui placeholder button-placeholder">
        <div class="image"></div>
      </div>
    </div>

  </div>


  <div class="large-container use-available-space">

    <div class="ui grid">
      <div class="five wide column item-column">
        
        <div id="item-container" class="data-container"></div>

        <div id="item-placeholder" class="data-placeholder">
          <div class="ui raised segment">
            <div class="ui placeholder">
              <div class="image header">
                <div class="line"></div>
                <div class="line"></div>
              </div>
              <div class="paragraph">
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="eleven wide column candidates-column">

        <div id="candidates-container" class="data-container"></div>

        <div id="candidates-placeholder" class="data-placeholder">
          <div class="ui right floated grid">
            <div class="six wide right floated column">
              <div class="ui raised segment">
                <div class="ui placeholder">
                  <div class="header">
                    <div class="line"></div>
                    <div class="line"></div>
                  </div>
                  <div class="paragraph">
                    <div class="medium line"></div>
                    <div class="short line"></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="six wide column">
              <div class="ui raised segment">
                <div class="ui placeholder">
                  <div class="header">
                    <div class="line"></div>
                    <div class="line"></div>
                  </div>
                  <div class="paragraph">
                    <div class="medium line"></div>
                    <div class="short line"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>


      </div>

    </div>
  </div>

  <div class="ui basic modal match-help-modal">
    <div class="ui icon header">
      Come funziona il processo di matching
    </div>
    <div class="content">
      ...
    </div>
  </div>

  <footer id="footer"></footer>


  <!-- Libraries -->
  <script type="text/javascript" src="/libs/jquery/jquery.min.js"></script>
  <script type="text/javascript" src="/libs/mustache/mustache.min.js"></script>
  <script type="text/javascript" src="/libs/semantic/semantic.min.js"></script>

  <script type="text/javascript" src="/js/utils/request.js"></script>
  <script type="text/javascript" src="/js/utils/dom.js"></script>
  <script type="text/javascript" src="/js/utils/url.js"></script>
  <script type="text/javascript" src="/js/utils/format.js"></script>
  <script type="text/javascript" src="/js/utils/User.js"></script>
  <script type="text/javascript" src="/js/utils/Matcher.js"></script>
  <script type="text/javascript" src="/js/utils/loader.js"></script>

  <script type="text/javascript" src="/js/match.js"></script>

</body>

</html>