<!DOCTYPE html>
<html lang="it">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>OLAF | Nuovo progetto</title>

  <link rel="icon" sizes="64x64" type="image/png" href="/img/favicon.png" />

  <!-- Styles -->
  <link rel="stylesheet" type="text/css" href="/libs/semantic/semantic.css" />

  <link rel="stylesheet" type="text/css" href="/css/theme.css" />
  <link rel="stylesheet" type="text/css" href="/css/navbar.css" />
  <link rel="stylesheet" type="text/css" href="/css/footer.css" />

  <link rel="stylesheet" type="text/css" href="/css/new-job.css" />

  <script type="text/javascript" src="/libs/fontawesome/all.min.js"></script>
</head>

<body class="logged">

  <nav id="navbar"></nav>

  <div class="ui container use-available-space" style="padding-top: 8rem;">

    <h1 class="ui dividing header new-job-header">
      Creazione di un nuovo progetto <i><span id="new-job-step">1</span>/2</i>
    </h1>

    <div class="new-job-placeholder">
      <div class="ui fluid placeholder">
        <div class="header">
          <div class="line"></div>
        </div>
        <div class="header">
          <div class="line"></div>
        </div>
        <div class="header">
          <div class="line"></div>
        </div>
        <div class="header">
          <div class="line"></div>
        </div>
      </div>
    </div>

    <div class="new-job-step step-1">
      <h3 class="ui dividing header" style="margin-bottom: 2rem !important;">Inserisci le informazioni di base</h3>
      <form class="ui form new-job-form" data-step="1">
        <div class="field">
          <label>Tipo di progetto</label>
          <select id="job-type-select" class="ui fluid search dropdown" name="job-type"></select>
        </div>
        <div class="field">
          <label>Nome*</label>
          <input type="text" name="job-name" placeholder="Scegli un nome" required>
          <label class="bottom-label">Il nome del progetto, ad esempio <i>Il Mio Progetto</i>.</label>
        </div>
        <div class="field">
          <label>Alias*</label>
          <input type="text" name="job-alias" placeholder="Inserisci un alias per il progetto" required>
          <label class="error-label alias-error">L'alias che hai inserito non è valido!</label>
          <label class="error-label alias-taken">È già presente un progetto con questo alias. Usane un altro!</label>
          <label class="bottom-label">Usa solo caratteri alfanumerici e trattini, ad esempio <i>il-mio-progetto</i>.</label>
        </div>
        <div class="field">
          <label>Descrizione</label>
          <textarea rows="2" name="job-description" placeholder="Se necessario, descrivi brevemente il progetto"></textarea>
        </div>
        <div class="field">
          <label>Campo URI*</label>
          <input type="text" name="job-uri" placeholder="Inserisci il nome del campo URI" required>
          <label class="bottom-label">Il nome della colonna che identifica ogni elemento in modo univoco.</label>
        </div>
        <div class="field">
          <label>Campo SEARCH*</label>
          <input type="text" name="job-search" placeholder="Inserisci il nome del campo SEARCH" required>
          <label class="bottom-label">Il nome della colonna utilizzata per effettuare la ricerca.</label>
        </div>
        <div class="field">
          <label>Campo EXTRA</label>
          <input type="text" name="job-search-extra" placeholder="Inserisci il nome del campo EXTRA" >
          <label class="bottom-label">Il nome della colonna utilizzata in combinazione con la precedente per effettuare una ricerca più precisa.</label>
        </div>
        <div class="field">
          <label>Crea candidato</label>
          <select id="job-create-candidate-select" class="ui fluid search dropdown" name="job-create-candidate">
            <option value="disabled">Disabilitato</option>
            <option value="wikidata">Su Wikidata</option>
          </select>
          <label class="bottom-label">Se non ci sono candidati validi, l'utente può creare manualmente un nuovo candidato ed abbinarlo all'elemento.</label>
        </div>
        <button class="ui button tertiary-bg border" type="submit">
          AVANTI
          <i class="arrow right icon"></i>
        </button>
      </form>
    </div>

    <div class="new-job-step step-2">
      <h3 class="ui dividing header" style="margin-bottom: 2rem !important;">Carica la sorgente (formato CSV)</h3>
      <div class="source-upload">
        <div class="ui fluid placeholder">
          <div class="header">
            <div class="full line"></div>
            <div class="full line"></div>
            <div class="full line"></div>
            <div class="full line"></div>
          </div>
        </div>
      </div>

    </div>


  </div>

  <div class="ui basic modal csv-help-modal"></div>

  <footer id="footer"></footer>

  <!-- Libraries -->
  <script type="text/javascript" src="/libs/jquery/jquery.min.js"></script>
  <script type="text/javascript" src="/libs/mustache/mustache.min.js"></script>
  <script type="text/javascript" src="/libs/semantic/semantic.min.js"></script>

  <script type="text/javascript" src="/js/utils/request.js"></script>
  <script type="text/javascript" src="/js/utils/dom.js"></script>
  <script type="text/javascript" src="/js/utils/User.js"></script>
  <script type="text/javascript" src="/js/utils/loader.js"></script>

  <script type="text/javascript" src="/js/source-form.js"></script>
  <script type="text/javascript" src="/js/new-job.js"></script>

</body>

</html>