<!DOCTYPE html>
<html lang="it">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>OLAF | Reset password</title>

  <link rel="icon" sizes="64x64" type="image/png" href="/img/favicon.png" />

  <!-- Styles -->
  <link rel="stylesheet" type="text/css" href="/css/lib/semantic242.css" />

  <link rel="stylesheet" type="text/css" href="/css/theme.css" />
  <link rel="stylesheet" type="text/css" href="/css/navbar.css" />
  <link rel="stylesheet" type="text/css" href="/css/footer.css" />

  <script src="https://kit.fontawesome.com/be7822736c.js"></script>
</head>

<body>

  <nav id="navbar"></nav>

  <div class="ui container use-available-space" style="padding-top: 8rem;">

    <!-- nuova password -->
    <form id="new-password-form" class="ui form d-none">
      <h1 class="ui dividing header">Scegli una nuova password</h1>
      <p class="hide-when-finished">
        Inserisci una nuova password per il tuo account
      </p>
      <div class="ui success message status-msg d-none">
        <div class="header">
          Ci siamo!
        </div>
        <p>Password cambiata con successo. Ora puoi fare <a href="/login">login</a></p>
      </div>  
      <div class="ui negative message status-msg d-none">
        <div class="header">
          Ops! Qualcosa è andato storto
        </div>
        <p>
           <!-- TODO -->
        </p>
      </div>
      <div class="two fields hide-when-finished">
        <div class="field">
          <label>Nuova Password*</label>
          <input type="password" name="password" placeholder="Inserisci qui la password scelta" autocomplete="new-password" required>
        </div>
        <div class="field">
          <label>Ripeti nuova password*</label>
          <input type="password" name="retype_password" placeholder="Ripeti password" autocomplete="new-password" required >
        </div>
      </div>
      <button class="ui button tertiary-bg border hide-when-finished" type="submit">CONFERMA</button>
      <div class="ui error message"></div>
    </form>

    <!-- cambia password -->
    <form id="change-password-form" class="ui form d-none">
      <h1 class="ui dividing header">Modifica la password</h1>
      <p>
        Inserisci una nuova password per il tuo account
      </p>
      <div class="ui success message status-msg d-none">
        <div class="header">
          Ci siamo!
        </div>
        <p>Password cambiata con successo</p>
      </div>  
      <div class="ui negative message status-msg d-none">
        <div class="header">
          Ops! Qualcosa è andato storto
        </div>
        <p>
          <!-- TODO -->
        </p>
      </div>
      <div class="field">
        <label>Vecchia password*</label>
        <input type="password" name="old" placeholder="Ripeti password" autocomplete="new-password" required >
      </div>
      <div class="two fields">
        <div class="field">
          <label>Nuova Password*</label>
          <input type="password" name="new" placeholder="Inserisci qui la password scelta" autocomplete="new-password" required>
        </div>
        <div class="field">
          <label>Ripeti nuova password*</label>
          <input type="password" name="retype_new" placeholder="Ripeti password" autocomplete="new-password" required >
        </div>
      </div>
      <button class="ui button tertiary-bg border" type="submit">CONFERMA</button>
      <div class="ui error message"></div>
    </form>

    <!-- link reset password -->
    <form id="reset-password-form" class="ui form d-none">
      <h1 class="ui dividing header">Resetta la password</h1>
      <p class="hide-when-finished">
        Inserisci la mail con cui ti sei registrato. Ti invieremo un link con il quale potrai scegliere una nuova password
      </p>
      <div class="ui success message status-msg d-none">
        <div class="header">
          Mail inviata!
        </div>
        <p>Controlla la tua casella di posta e clicca sul link</p>
      </div>  
      <div class="ui negative message status-msg d-none">
        <div class="header">
          Utente non riconosciuto
        </div>
        <p>
          La tua mail non sembra essere registrata. <a href="/login">Crea un nuovo account</a>
        </p>
      </div>
      <div class="field hide-when-finished">
        <label>E-mail*</label>
        <input type="email" name="email" placeholder="Inserisci il tuo indirizzo e-mail" autocomplete="email" required >
      </div>
      <button class="ui button tertiary-bg border hide-when-finished" type="submit">INVIA IL RESET LINK</button>
      <div class="ui error message"></div>
    </form>

  </div>

  <footer id="footer"></footer>


  <!-- Libraries -->
  <script type="text/javascript" src="/js/lib/jquery341.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/3.0.1/mustache.js"></script>
  <script src="/js/lib/semantic242.js"></script>

  <script type="text/javascript" src="/js/utils/request.js"></script>
  <script type="text/javascript" src="/js/utils/dom.js"></script>
  <script type="text/javascript" src="/js/utils/url.js"></script>
  <script type="text/javascript" src="/js/utils/user.js"></script>
  <script type="text/javascript" src="/js/utils/loader.js"></script>

  <script type="text/javascript" src="/js/reset-password.js"></script>

</body>

</html>