<!DOCTYPE html>
<html lang="it">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>OLAF | Privacy Policy</title>

  <link rel="icon" sizes="64x64" type="image/png" href="/img/favicon.png" />

  <!-- Styles -->
  <link rel="stylesheet" type="text/css" href="/libs/semantic/semantic.css" />

  <link rel="stylesheet" type="text/css" href="/css/theme.css" />
  <link rel="stylesheet" type="text/css" href="/css/navbar.css" />
  <link rel="stylesheet" type="text/css" href="/css/footer.css" />

  <script type="text/javascript" src="/libs/fontawesome/all.min.js"></script>
</head>

<body>

  <nav id="navbar"></nav>

  <div class="ui container use-available-space" style="padding-top: 8rem; padding-bottom: 4rem;">
    <h1 class="ui dividing header">Privacy Policy</h1>

    <h2>Titolare</h2>

    <p>Il titolare del trattamento dei tuoi dati è Synapta S.r.l. Per ogni necessità puoi contattare il titolare
      all'indirizzo Via San Quintino n. 31, cap 10121, Torino (TO) o all'email privacy@synapta.it.</p>

    <p>Il titolare tratterà i tuoi dati con liceità e correttezza nel rispetto dei tuoi diritti ed in particolare della
      tua riservatezza ai sensi del Regolamento (UE) 2016/679 (di seguito "Regolamento") e delle altre norme
      applicabili.</p>

    <h2>Dati</h2>

    <p>Il titolare tratterà i seguenti dati.</p>

    <h3>Dati del profilo</h3>

    <p>Quando ti registri, aggiungi nuovi dati al tuo profilo, o modifichi quelli esistenti, acquisiamo i tuoi dati
      personali (nome, e-mail, password).</p>

    <h3>Dati di navigazione</h3>

    <p>Quando ti colleghi al nostro sistema, questo registra automaticamente le informazioni che il tuo dispositivo ci
      invia. Queste informazioni possono riguardare i contenuti caricati, le operazioni svolte e l'indirizzo IP dal
      quale ti colleghi, il sistema operativo, il browser e la lingua del tuo dispositivo, la data e l'ora della tua
      richiesta.</p>

    <h3>Dati di contatto e comunicazioni</h3>

    <p>Quando ci invii i tuoi dati di contatto (email, ecc.) e un'email o un'altra comunicazione registriamo i tuoi dati
      di contatto e la comunicazione.</p>

    <h3>Cookie</h3>

    <p>Quando utilizzi i nostri servizi possiamo inviare al tuo dispositivo uno o più cookie (piccoli file di testo
      contenenti una stringa di caratteri alfanumerici). Si tratta di cookie tecnici, cioè di navigazione o sessione e
      strettamente necessari per il funzionamento del sito o per consentirti di usufruire dei contenuti e dei servizi da
      te richiesti.</p>

    <h2>Finalità e base giuridica del trattamento</h2>

    <p>I tuoi dati verranno trattati con le seguenti finalità: fornirti i servizi ai sensi dell'articolo 6, paragrafo 1,
      lettera b), del Regolamento, valutare e migliorare i servizi e svilupparne di nuovi perseguendo questo legittimo
      interesse ai sensi dell'articolo 6, paragrafo 1, lettera f), del Regolamento, proteggere il funzionamento tecnico
      del sistema informatico perseguendo questo legittimo interesse ai sensi dell'articolo 6, paragrafo 1, lettera f),
      del Regolamento, adempiere ad obblighi di legge e/o ottemperare ad ordini provenienti da pubbliche autorità,
      inclusa l'autorità giudiziaria ai sensi dell'articolo 6, paragrafo 1, lettera c), del Regolamento, elaborare e
      diffondere analisi statistiche e rappresentazioni grafiche ma solo in forma aggregata ed anonima perseguendo
      questo legittimo interesse ai sensi dell'articolo 6, paragrafo 1, lettera f), del Regolamento.</p>

    <h2>Comunicazione a terzi</h2>

    <p>Il titolare potrà comunicare i tuoi dati a: soggetti terzi che collaborano con il titolare e provvedono a
      trattare fasi dei processi necessari al corretto espletamento delle sue attività, soggetti terzi per adempiere ad
      obblighi di legge o per ottemperare ad ordini provenienti da pubbliche autorità, inclusa l'autorità giudiziaria,
      e/o per tutelare i diritti del titolare o dei terzi ai sensi di legge.</p>

    <h2>Periodo di conservazione</h2>

    <p>I dati del tuo profilo ed i dati di navigazione saranno conservati per il tempo massimo entro il quale potranno
      essere fatti valere diritti in relazione alle attività da te svolte utilizzando i servizi e (se prima di questa
      scadenza verranno fatti valere tali diritti da te o da terzi) per l'eventuale tempo ulteriore necessario per
      utilizzare i dati per tutelare i diritti tuoi, del titolare e/o di terzi.</p>

    <p>I tuoi dati di contatto e le comunicazioni saranno conservati per il tempo necessario per far fronte alla tua
      richiesta e per l'eventuale tempo ulteriore necessario per utilizzare i dati per tutelare i diritti tuoi, del
      titolare e/o di terzi.</p>

    <h2>Diritti</h2>

    <p>Ti ricordiamo che, ai sensi del Regolamento, hai diritto:</p>

    <ul>
      <li>di chiedere l'accesso ai tuoi dati personali ai sensi dell'articolo 15 del Regolamento,</li>
      <li>di chiedere la rettifica dei tuoi dati personali ai sensi dell'articolo 16 del Regolamento,</li>
      <li>di chiedere la cancellazione dei tuoi dati personali ai sensi dell'articolo 17 del Regolamento,</li>
      <li>di chiedere la limitazione del trattamento dei tuoi dati personali ai sensi dell'articolo 18 del Regolamento,
      </li>
      <li>di opporti al trattamento dei tuoi dati personali che sono trattati ai sensi dell'articolo 6, paragrafo 1,
        lettera f), del Regolamento (per valutare e migliorare i servizi e svilupparne di nuovi, per proteggere il
        funzionamento tecnico del sistema informatico, per informarti sui nostri servizi e sulle novità del nostro sito)
        ai sensi dell'articolo 21 del Regolamento,</li>
      <li>alla portabilità dei tuoi dati personali ai sensi dell'articolo 20 del Regolamento,</li>
      <li>di proporre reclamo al Garante della Privacy italiano ai sensi dell'articolo 77 del Regolamento.</li>
    </ul>

    <h2>Effetti della mancata comunicazione al titolare</h2>

    <p>La comunicazione dei dati del profilo è un requisito necessario per effettuare la registrazione. Se non fornisci
      i dati del profilo non potrai registrarti.</p>

    <h2>Informazioni sui cookie</h2>

    <p>Puoi controllare e/o sopprimere i cookie a piacimento – per saperne di più, consulta il sito
      http://www.allaboutcookies.org/.</p>

    <p>Puoi selezionare quali cookie autorizzare attraverso l'apposita procedura di seguito prevista, nonché cancellare
      i cookie già presenti sul tuo dispositivo e impostare la maggior parte dei browser in modo da bloccarne
      l'installazione. La maggior parte dei browser consente di: visualizzare i cookie presenti e cancellarli
      singolarmente, bloccare i cookie di terze parti, bloccare i cookie di particolari siti, bloccare l'installazione
      di tutti i cookie, cancellare tutti i cookie alla chiusura del browser. Per avere maggiori informazioni su come
      impostare le preferenze sull'uso dei cookie attraverso il tuo browser di navigazione, puoi consultare le relative
      istruzioni.</p>

    <p>Se scegli di cancellare o non autorizzare i cookie tecnici, ti potrebbe essere impossibile utilizzare il sito,
      visionarne i contenuti ed usufruire dei relativi servizi; i cookie di funzionalità, analytics e di terze parti,
      alcuni servizi o determinate funzioni del sito potrebbero non esserti disponibili o non funzionare correttamente e
      potresti essere costretto a modificare o a inserire manualmente alcune informazioni o preferenze ogni volta che
      visiterai il sito.</p>
  </div>

  <footer id="footer"></footer>


  <!-- Libraries -->
  <script type="text/javascript" src="/libs/jquery/jquery.min.js"></script>
  <script type="text/javascript" src="/libs/mustache/mustache.min.js"></script>
  <script type="text/javascript" src="/libs/semantic/semantic.min.js"></script>

  <script type="text/javascript" src="/js/utils/request.js"></script>
  <script type="text/javascript" src="/js/utils/dom.js"></script>
  <script type="text/javascript" src="/js/utils/User.js"></script>
  <script type="text/javascript" src="/js/utils/loader.js"></script>

</body>

</html>