<!DOCTYPE html>
<html lang="it">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>OLAF | Privacy Policy</title>

  <link rel="icon" sizes="64x64" type="image/png" href="/img/favicon.png" />

  <!-- Styles -->
  <link rel="stylesheet" type="text/css" href="/css/lib/semantic242.css" />

  <link rel="stylesheet" type="text/css" href="/css/theme.css" />
  <link rel="stylesheet" type="text/css" href="/css/navbar.css" />
  <link rel="stylesheet" type="text/css" href="/css/footer.css" />

  <script src="https://kit.fontawesome.com/be7822736c.js"></script>
</head>

<body>

  <nav id="navbar"></nav>

  <div class="ui container use-available-space" style="padding-top: 8rem;">
    <h1 class="ui dividing header">Privacy Policy</h1>
  </div>

  <footer id="footer"></footer>


  <!-- Libraries -->
  <!-- Libraries -->
  <script type="text/javascript" src="/js/lib/jquery341.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/3.0.1/mustache.js"></script>
  <script src="/js/lib/semantic242.js"></script>

  <script type="text/javascript" src="/js/utils/request.js"></script>
  <script type="text/javascript" src="/js/utils/dom.js"></script>
  <script type="text/javascript" src="/js/utils/User.js"></script>
  <script type="text/javascript" src="/js/utils/loader.js"></script>

</body>

</html>