{{#roles.length}}
    <p class="card-box"><b>Ruoli</b></p>
    {{#roles}}
        <div class="add_match">
            <div data-label="optionDescription" data-value="{{.}}" onclick="matchField('optionDescription', '{{.}}')" class="ui compact icon button field_selection">
                <i class="fas fa-check"></i>
            </div>
            <span>{{.}}</span>
        </div>
    {{/roles}}
{{/roles.length}}

{{#name}}
    <p class="card-box"><b>Nome</b></p>
    <div class="add_match">
        <div data-label="optionSbn" data-value="{{.}}" onclick="matchField('optionName', '{{.}}')" class="ui compact icon button field_selection">
            <i class="fas fa-check"></i>
        </div>
        <span>{{.}}</span>
    </div>
{{/name}}

{{#type}}
    <p class="card-box"><b>Tipo</b></p>
    <div class="add_match">
        <div data-label="optionType" data-value="{{type}}" onclick="matchField('optionType', '{{type}}')" class="ui compact icon button field_selection">
            <i class="fas fa-check"></i>
        </div>
        <span>{{authorCategory.label}}</span>
    </div>
{{/type}}

{{#gender}}
    <p class="card-box"><b>Genere</b></p>
    <div class="add_match">
        <div data-label="optionGender" data-value="{{.}}" onclick="matchField('optionGender', '{{.}}')" class="ui compact icon button field_selection">
            <i class="fas fa-check"></i>
        </div>
        <span>{{.}}</span>
    </div>
{{/gender}}

{{#heading.length}}
    <p class="card-box"><b>Intestazioni</b></p>
    {{#heading}}
        <div class="add_match">
            <div data-label="optionHeading" data-value="{{.}}" onclick="matchField('optionHeading', '{{.}}')" class="ui compact icon button field_selection">
                <i class="fas fa-check"></i>
            </div>
            <span>{{.}}</span>
        </div>
    {{/heading}}
{{/heading.length}}

{{#variant.length}}
    <p class="card-box"><b>Varianti</b></p>
    {{#variant}}
    <div class="add_match">
        <div data-label="optionVariant" data-value="{{.}}" onclick="matchField('optionVariant', '{{.}}')" class="ui compact icon button field_selection">
            <i class="fas fa-check"></i>
        </div>
        <span>{{.}}</span>
    </div>
    {{/variant}}
{{/variant.length}}

{{#birthPlace}}
    <p class="card-box"><b>Luogo di nascita</b></p>
    <div class="add_match">
        <div data-label="optionBirthPlace" data-value="{{.}}" onclick="matchField('optionBirthPlace', '{{.}}')" class="ui compact icon button field_selection">
            <i class="fas fa-check"></i>
        </div>
        <span>{{.}}</span>
    </div>
{{/birthPlace}}

{{#birthDate}}
    <p class="card-box"><b>Data di nascita</b></p>
    <div class="add_match">
        <div data-label="optionBirthDate" data-value="{{.}}" onclick="matchField('optionBirthDate', '{{.}}')" class="ui compact icon button field_selection">
            <i class="fas fa-check"></i>
        </div>
        <span>{{.}}</span>
    </div>
{{/birthDate}}

{{#deathPlace}}
    <p class="card-box"><b>Luogo di nascita</b></p>
    <div class="add_match">
        <div data-label="optionDeathPlace" data-value="{{.}}" onclick="matchField('optionDeathPlace', '{{.}}')" class="ui compact icon button field_selection">
            <i class="fas fa-check"></i>
        </div>
        <span>{{.}}</span>
    </div>
{{/deathPlace}}

{{#deathDate}}
    <p class="card-box"><b>Data di nascita</b></p>
    <div class="add_match">
        <div data-label="optionDeathDate" data-value="{{.}}" onclick="matchField('optionDeathDate', '{{.}}')" class="ui compact icon button field_selection">
            <i class="fas fa-check"></i>
        </div>
        <span>{{.}}</span>
    </div>
{{/deathDate}}