<div class="column">
    <div class="ui raised segment">
        <div id="author-fields">

            <a class="ui blue ribbon label"> <i class="fas fa-user"></i> Entità AFXD</a>

            <p class="author-name">
                {{name}}
            </p>

            {{#type}}
                <a class="ui blue ribbon label"> <i class="fas fa-book"></i> Categoria</a>
                <p class="card-box">
                    {{type}}{{#gender}}, {{.}}{{/gender}}
                </p>
            {{/type}}

            {{#birthDate}}
                <a class="ui blue ribbon label"> <i class="fas fa-star"></i> Nascita</a>
                <p class="card-box">
                    {{birthDate}}{{#birthPlace}}, {{.}}{{/birthPlace}}
                </p>
            {{/birthDate}}

            {{#deathDate}}
                <a class="ui blue ribbon label"> <i class="fas fa-cross"></i> Morte</a>
                <p class="card-box">
                    {{deathDate}}{{#deathPlace}}, {{.}}{{/deathPlace}}
                </p>
            {{/deathDate}}

            {{#titles.length}}
                <a href="{{uri}}" target="_blank" class="ui blue ribbon label"> <i class="fas fa-book"></i> Opere ({{titlesNumber}}) - Visualizza tutte</a>
                <ul class="ui bulleted list card-box">
                    {{#titles}}
                    <li>
                        <div class="item title">{{.}}</div>
                    </li>
                    {{/titles}}
                </ul>
            {{/titles.length}}

            {{#roles.length}}
                <a class="ui blue ribbon label"> <i class="fas fa-briefcase"></i> Ruoli</a>
                <div class="ui bulleted list card-box">
                    {{#roles}}
                    <div class="item">{{.}}</div>
                    {{/roles}}
                </div>
            {{/roles.length}}

            <a class="ui blue ribbon label"> <i class="fas fa-info"></i> Altri campi</a>

            {{#heading.length}}
                <div class="ui items">
                    <div class="ui accordion">
                        <div class="title">
                            <i class="dropdown icon"></i>
                            Intestazioni
                        </div>
                        <div class="content">
                            <ul class="ui bulleted list card-box">
                                {{#heading}}
                                <li>
                                    <div class="item">{{.}}</div>
                                </li>
                                {{/heading}}
                            </ul>
                        </div>
                    </div>
                </div>
            {{/heading.length}}

            {{#_variant.length}}
                <div class="ui items">
                    <div class="ui accordion">
                        <div class="title">
                            <i class="dropdown icon"></i>
                            Varianti
                        </div>
                        <div class="content">
                            <ul class="ui bulleted list card-box">
                                {{#_variant}}
                                <li>
                                    <div class="item">{{.}}</div>
                                </li>
                                {{/_variant}}
                            </ul>
                        </div>
                    </div>
                </div>
            {{/_variant.length}}

            {{#sources.length}}
                <div class="ui items">
                    <div class="ui accordion">
                        <div class="title">
                            <i class="dropdown icon"></i>
                            Fonti archivistiche
                        </div>
                        <div class="content">
                            <ul class="ui bulleted list card-box">
                                {{#sources}}
                                <li>
                                    <div class="item">{{.}}</div>
                                </li>
                                {{/sources}}
                            </ul>
                        </div>
                    </div>
                </div>
            {{/sources.length}}

            {{#links.length}}
                <div class="ui items">
                    <div class="ui accordion">
                        <div class="title">
                            <i class="dropdown icon"></i>
                            Interlink esterni
                        </div>
                        <div class="content">
                            <ul class="ui bulleted list card-box">
                                {{#links}}
                                <li>
                                    <div class="item">
                                        <a target="_blank" href="{{.}}">{{.}}</a>
                                    </div>
                                </li>
                                {{/links}}
                            </ul>
                        </div>
                    </div>
                </div>
            {{/links.length}}

        </div>

    </div>
</div>