<form id="matches-form" action="{{action}}" type="" method="post">

    <div class="ui accordion">

        <div class="active title">
            <i class="dropdown icon"></i>
            <h2>Nome</h2>
        </div>

        <div class="active content">
            <table class="ui fixed table">

                <thead>
                    <tr>
                        <th>AFCEI ARRICCHITO</th>
                        <th>AFCEI DI ORIGINE</th>
                        <th>Scelta 1</th>
                        <th>Scelta 2</th>
                    </tr>
                </thead>

                <tbody>
                    {{#grouping.Nome}}
                        <tr class="selection-row">
                            <td valign="top" id="{{label}}">

                                <div style="margin-bottom: 10px;">
                                    <div onclick="addNewField('{{label}}')" class="ui mini green icon button add-new-field">
                                        <i class="fas fa-plus"></i>
                                    </div>
                                    <b>{{dictionary}}</b>
                                </div>

                                <div class="selection_list"></div>

                            </td>
                            {{#values}}
                            <td>
                                {{#value}}
                                    <div class="label-wrapper">
                                        <a style="{{#parseImage}}{{.}}{{/parseImage}}" data-label="{{field}}" data-value="{{.}}" onclick="matchField('{{field}}', '{{.}}')" class="ui label field_selection">
                                            <i style="margin-right: 5px" class="fas fa-plus"></i>
                                            {{.}}
                                        </a>
                                        {{#parseLink}}{{.}}{{/parseLink}}
                                    </div>
                                {{/value}}
                            </td>
                            {{/values}}
                        </tr>
                    {{/grouping.Nome}}
                </tbody>
            </table>
        </div>

        <div class="active title">
            <i class="dropdown icon"></i>
            <h2>Informazioni biografiche</h2>
        </div>

        <div class="active content">
            <table class="ui fixed table">

                <thead>
                <tr>
                    <th>AFCEI ARRICCHITO</th>
                    <th>AFCEI DI ORIGINE</th>
                    <th>Scelta 1</th>
                    <th>Scelta 2</th>
                </tr>
                </thead>

                <tbody>
                    {{#grouping.Bio}}
                        <tr class="selection-row">
                            <td valign="top" id="{{label}}">

                                <div style="margin-bottom: 10px;">
                                    <div onclick="addNewField('{{label}}')" class="ui mini green icon button add-new-field">
                                        <i class="fas fa-plus"></i>
                                    </div>
                                    <b>{{dictionary}}</b>
                                </div>

                                <div class="selection_list"></div>

                            </td>
                            {{#values}}
                                <td>
                                    {{#value}}
                                        <div class="label-wrapper">
                                            <a data-label="{{field}}" data-value="{{.}}" onclick="matchField('{{field}}', '{{.}}')" class="ui label field_selection">
                                                <i style="margin-right: 5px" class="fas fa-plus"></i>
                                                {{.}}
                                            </a>
                                            {{#parseLink}}{{.}}{{/parseLink}}
                                        </div>
                                    {{/value}}
                                </td>
                            {{/values}}
                        </tr>
                    {{/grouping.Bio}}
                </tbody>
            </table>
        </div>

        <div class="active title">
            <i class="dropdown icon"></i>
            <h2>Identificativi</h2>
        </div>

        <div class="active content">
            <table class="ui fixed table">

                <thead>
                    <tr>
                        <th>AFCEI ARRICCHITO</th>
                        <th>AFCEI DI ORIGINE</th>
                        <th>Scelta 1</th>
                        <th>Scelta 2</th>
                    </tr>
                </thead>

                <tbody>
                    {{#grouping.Identificativi}}
                        <tr class="selection-row">
                            <td valign="top" id="{{label}}">

                                <div style="margin-bottom: 10px;">
                                    <div onclick="addNewField('{{label}}')" class="ui mini green icon button add-new-field">
                                        <i class="fas fa-plus"></i>
                                    </div>
                                    <b>{{dictionary}}</b>
                                </div>

                                <div class="selection_list"></div>
                            </td>
                            {{#values}}
                                <td>
                                    {{#value}}
                                        <div class="label-wrapper">
                                            <a data-label="{{field}}" data-value="{{.}}" onclick="matchField('{{field}}', '{{.}}')" class="ui label field_selection">
                                                <i style="margin-right: 5px" class="fas fa-plus"></i>
                                                {{.}}
                                            </a>
                                            {{#parseLink}}{{.}}{{/parseLink}}
                                        </div>
                                    {{/value}}
                                </td>
                            {{/values}}
                        </tr>
                    {{/grouping.Identificativi}}
                </tbody>
            </table>
        </div>

        <div class="active title">
            <i class="dropdown icon"></i>
            <h2>Varianti</h2>
        </div>

        <div class="active content">
            <table class="ui fixed table">

                <thead>
                    <tr>
                        <th>AFCEI ARRICCHITO</th>
                        <th>AFCEI DI ORIGINE</th>
                        <th>Scelta 1</th>
                        <th>Scelta 2</th>
                    </tr>
                </thead>

                <tbody>
                {{#grouping.Varianti}}
                <tr class="selection-row">
                    <td valign="top" id="{{label}}">

                        <div style="margin-bottom: 10px;">
                            <div onclick="addNewField('{{label}}')" class="ui mini green icon button add-new-field">
                                <i class="fas fa-plus"></i>
                            </div>
                            <b>{{dictionary}}</b>
                        </div>

                        <div class="selection_list"></div>

                    </td>
                    {{#values}}
                    <td>
                        {{#value}}
                            <div class="label-wrapper">
                                <a data-label="{{field}}" data-value="{{.}}" onclick="matchField('{{field}}', '{{.}}')" class="ui label field_selection">
                                    <i style="margin-right: 5px" class="fas fa-plus"></i>
                                    {{.}}
                                </a>
                                {{#parseLink}}{{.}}{{/parseLink}}
                            </div>
                        {{/value}}
                    </td>
                    {{/values}}
                </tr>
                {{/grouping.Varianti}}
                </tbody>
            </table>
        </div>

    </div>

</form>